<div class="row">
  <div class="col-7">
    <p>
      Your Instagram feed will be created as an HTML tag that can be inserted anywhere in your Shopify store's theme. This post will walk you through the steps to get your Instagram feed up and running on your store.
    </p>
  </div>
  <div class="col-5">
    <img src=""/>
  </div>
  <div class="col-12 text-center">
    <strong>In order to add a feed to your store you will need some working knowledge of HTML, and an account that gives you access to edit your Shopify pages and theme.</strong>
  </div>
</div>