<ul class="nav navbar-nav">
  <li>
    <a class="page-link" href="/features/">Home</a>
  </li>
  <li>
    <a class="page-link" href="/features/">About</a>
  </li>
  <li>
      <a class="page-link" href="/pricing/">Specialties</a>
    </li>
    <div class="dropdown">
      <button class="nav-btn btn btn-secondary dropdown-toggle page-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">S.A.F.E EMDR</a>
        <a class="dropdown-item" href="#">Adjustment to Chronic Illness & Disability</a>
        <a class="dropdown-item" href="#">Self-esteem</a>
        <a class="dropdown-item" href="#">Emotional & Physical Abuse</a>
        <a class="dropdown-item" href="#">Adolescence (14-18)</a>
      </div>
    </div>
  <li>
    <a class="page-link" href="/getting-started/">Fees</a>
  </li>
  <li>
      <a class="page-link" href="/support/">Contact</a>
    </li>
</ul>
