<ul class="nav navbar-nav">
  <li>
    <a class="page-link" href="/">Home</a>
  </li>
  <li>
    <a class="page-link" href="/about/">About</a>
  </li>
    <div class="dropdown">
      <button class="nav-btn btn btn-secondary dropdown-toggle page-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Practice
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/emdr/">S.A.F.E EMDR</a>
        <a class="dropdown-item" href="/chronic-illness/">Adjustment to Chronic Illness & Disability</a>
        <a class="dropdown-item" href="/self-esteem/">Self-esteem</a>
        <!-- <a class="dropdown-item" href="/emotional-and-physical-abuse">Emotional & Physical Abuse</a> -->
        <a class="dropdown-item" href="/adolescence-counseling/">Adolescence (14-18)</a>
      </div>
    </div>
  <li>
    <a class="page-link" href="/fees/">Fees</a>
  </li>
  <li>
    <a class="page-link" href="/contact/">Contact</a>
  </li>
  <li>
    <a class="page-link" href="/resources/">Resources</a>
  </li>
</ul>
