<ul class="nav navbar-nav">
  <li>
    <a class="page-link" href="/">Home</a>
  </li>
  <li>
    <a class="page-link" href="/about/">About</a>
  </li>
    <div class="dropdown">
      <button class="nav-btn btn btn-secondary dropdown-toggle page-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Practice
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/emdr/">Trauma & EMDR</a>
        <a class="dropdown-item" href="/chronic-illness/">Adjustment to Chronic Illness & Disability</a>
        <a class="dropdown-item" href="/anxiety/">Anxiety, Depression & Self Esteem</a>
        <!-- <a class="dropdown-item" href="/emotional-and-physical-abuse">Emotional & Physical Abuse</a> -->
        <a class="dropdown-item" href="/adolescence-counseling/">Teens (16-18)</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="nav-btn btn btn-secondary dropdown-toggle page-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Information
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/fees/">Fees</a>
        <a class="dropdown-item" href="/faq/">FAQs</a>
        <a class="dropdown-item" href="/resources/">Resources</a>
      </div>
    </div>
  <li>
    <a class="page-link" href="/contact/">Contact</a>
  </li>
  <a class="request-header-wrap"href="/contact/">
  <button class="request-button request-header">Schedule</button>
  </a>
</ul>
