<div class="subfooter">
  <div class="row d-flex align-items-center">
    <div class="col-sm-4 offset-sm-4 d-flex flex-column align-items-center">
      <small>© COPYRIGHT {{ site.time | date: '%Y' }} Perceptive Counseling, LLC. </small>
      <span class="margin-top:20px;"><a href="/privacy/">Privacy</a></span>
    </div>
    <div class="col-6 offset-3 offset-sm-0 col-sm-4 d-flex align-items-end">
      <div class="row">
        <div class="col-12">
            <a href="https://www.psychologytoday.com/us/therapists/lucy-sherman-portland-or/486111" target="_blank"><img style="max-width: 100%" src="/assets/images/psychologytoday.png" /></a>
        </div>
      </div>
    </div>
  </div>
</div>
