---
layout: post
title: ShopStatus Features
subtitle_body: "ShopStatus monitors pages, critical functions, and reports on global issues, sending you real time alerts when problems arise."
_date: 05/28/2019
posted_at: null
permalink: /features/
masthead:
  img_path:
  pat_path:
  overlay: true
categories: []
elsewhere:
  name: null
  url: null
comments: false
share: false
seo:
  title: ShopStatus Features
  description: ShopStatus is an essential app for any Shopify store. Get Alerts When Your Shopify Store Has Issues, Learn the Cause, and Solve the Issue.
  canonical: null
  noindex: false
social:
  title: ShopStatus Features | shopstatuspage.com
  description: ShopStatus is an essential app for any Shopify store. Get Alerts When Your Shopify Store Has Issues, Learn the Cause, and Solve the Issue.
  img_path: '/assets/images/71.jpg'
has_info_box: true
published: true
---
<div class="text-center">
  <h2 class="text-center">An essential app for any Shopify store. Get alerts, learn the cause, and solve the issue.</h2>
  <p class="lead text-center">More often than not store owners don’t even know that their shop is down. Don’t make a costly mistake sending ad traffic or a marketing campaign to a broken site. ShopStatus gives you total coverage and peace of mind.
  </p>
</div>

{% include elements/feature-blocks.html %}
{% include widgets/expertise.html %}
