---
layout: post
title: Support and FAQ
subtitle_body: 'Check our FAQ for answers to common questions, or contact us for Support.'
_date: 05/28/2019
posted_at: null
permalink: /support/
masthead:
  img_path:
  pat_path:
  overlay: true
categories: []
elsewhere:
  name: null
  url: null
comments: false
share: false
seo:
  title: ShopStatus FAQ
  description: ShopStatus is an essential app for any Shopify store. Get Alerts When Your Shopify Store Has Issues, Learn the Cause, and Solve the Issue.
  canonical: null
  noindex: false
social:
  title: null
  description: null
  img_path: '/assets/images/71.jpg'
has_info_box: true
---
{% include widgets/faq-accordion.html %}

<div class="" style="margin-top: 4em;">
  <a name="contact"/>
  <h2 class="text-center">Contact Us</h2>
{% include widgets/contact-form.html %}
</div>
