<div id="expertise" class="color text-center">
    <h3 class="text-center animateEntry">Shopify App Integrations</h3><br/>
      <div class="logos row text-center animateEntry">
      <a href="https://www.shopify.com/?ref=bowtie&utm_campaign=portfolio" target="_blank" rel="noopener nofollow">
        <img alt="Shopify" style="max-height: 50px;" src="/assets/images/integrations/shopify.png">
      </a>
      <a href="http://smileio.com/" target="_blank" rel="noopener nofollow">
        <img alt="Smile IO" src="/assets/images/integrations/smileio.png">
      </a>
      <a href="https://yotpo.com/" target="_blank" rel="noopener nofollow">
        <img alt="Yotpo" style="max-height: 50px;" src="/assets/images/integrations/yotpo.png">
      </a>
      <a href="https://klaviyo.com" target="_blank" rel="noopener nofollow">
        <img alt="Klaviyo" src="/assets/images/integrations/klaviyo.png">
      </a>
      <a href="https://rechargeapps.com" target="_blank" rel="noopener nofollow">
        <img style="max-width: 160px;max-height: 65px;" alt="recharge" src="/assets/images/integrations/recharge.png">
      </a>
      <a href="https://boldcommerce.com/" target="_blank" rel="noopener nofollow">
        <img  style="max-height: 30px;" alt="" src="/assets/images/integrations/boldcommerce.png">
      </a>
      <a href="https://getshippo.com" target="_blank" rel="noopener nofollow">
        <img style="max-height: 40px;" alt="Shippo" src="/assets/images/integrations/shippo.png">
      </a>
      </div>
      <br>
      <p class="small text-center animateEntry"><em>Contact us to discuss an integration. All logos are copyright their owners.</em></p>
  </div>
