<!--Accordion wrapper-->
<div class="accordion md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true" style="max-width: 800px; margin: 0 auto;">
    {% assign sorted = site.faq | sort: "category_order" %}
    {% assign categories = sorted | group_by: 'category' %}
    {% for category in categories %}
    <h4 style="margin-top: 2em; border-bottom: 1px solid lightgrey">{{ category.name | capitalize }}</h4>
    {% assign index = forloop.index %}
    {% for item in category.items %}
    <!-- Accordion card -->
    <div class="card">
      <!-- Card header -->
      <div class="card-header" role="tab" id="headingTwo{{ index }}{{ forloop.index }}">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx{{ index }}{{ forloop.index }}" href="#collapse{{ index }}{{ forloop.index }}"
          aria-expanded="false" aria-controls="collapse{{ index }}{{ forloop.index }}">
          <h5 class="mb-0">
            {{ item.title }} <i class="fas fa-angle-down rotate-icon"></i>
          </h5>
        </a>
      </div>
      <!-- Card body -->
      <div id="collapse{{ index }}{{ forloop.index }}" class="collapse" role="tabpanel" aria-labelledby="headingTwo{{ index }}{{ forloop.index }}">
        <div class="card-body">
            {{ item.content | markdownify | strip }}
        </div>
      </div>
  </div>
  {% endfor %}
  {% endfor %}
  </div>
  <!-- Accordion wrapper -->
