<div class="row d-flex align-items-center">

  <div class="col-8 offset-2 offset-md-0 col-md-4">
    <img class="img img-responsive" src="/assets/images/informed.png"
      alt="illustration by ouch.pics https://icons8.com" />
  </div>

  <div class="col-12 col-md-8">
    <ul>
      <li>Real-time Status on Critcal Aspects of Your Shop</li>
      <li>Know if Your Shop is Down, or if it's a Global Outage</li>
      <li>24/7 Monitoring with Intelligent Alerts</li>
    </ul>
    <div class="d-flex align-items-center justify-content-start" style="margin: 1em 0;">
      <div class="btn-group">
        <a href="{{site.login_url}}" style="margin: 0 .5em;">
          <button class="btn btn-default">Get Started</button>
        </a>
        <a href="/docs/" style="margin: 0 .5em;">
          <button class="btn btn-info">Documentation</button>
        </a>
      </div>
    </div>
  </div>

</div>